.App {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.food,
.list {
  margin: 30px;
  border: 0px;
}

.list h2 {
  font-size: 32px;
  font-weight: 800;
}

.list {
  width: 400px;
}

button {
  padding: 5px;
  background-color: bisque;
  font-size: 16px;
  font-weight: 600;
}

.search input {
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

.add input {
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

input.error {
  border: 1px solid tomato;
  color: black;
  background-color: rgb(240, 185, 183)
}