body {
  font-size: 16px;
}
.App {
  font-size: 1rem;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 12px;
}

/**Container**/
.container {
  max-width: 900px;
  margin-top: 30px;
}

/**Buttons**/
.is-primary {
  margin-bottom: 1.5em;
  margin-top: 1em;
}
.right {
  text-align: right;
}
/**Forms**/
.add-food {
  margin-bottom: 1.5em;
}
.search-container {
  margin-left: 0em;
}
.search-container button {
  margin-left: 12px;
}
.claim {
  margin-top: 2em;
}

/*My nutrition table*/
.nutrition-containter ul {
  margin-left: 1.2em;
  list-style: disc;
  margin-bottom: 1.5em;
}
