body {
  max-width: 900px;
  padding: 10px;
}
.App {
  text-align: center;
  max-width: 900px;
  margin-top: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 10px;
}
.media {
  width: 100%;
  margin: 0px;
}
.App-link {
  color: #61dafb;
}

.App-h1 {
  margin: 10px;
  font-weight: bolder;
}

.App-Input {
  margin: 25px;
  width: 100%;
  display: flex;
  flex-direction: arrow;
  justify-content: flex-start;
}

.App-Input input {
  margin: 0 50px 0 25px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
}
label {
  margin-right: 50px;
}

.Button {
  padding: 20px 50px;
  font-weight: bolder;
  color: White;
  background: navy;
  border-radius: 10px;
}

.listfood {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.box {
  width: 100%;
  padding: 0;
  max-width: 400px;
  margin-right: 10px;
}

.search-bar {
  margin-bottom: 30px;
}

.box-wrapper {
  width: 700px;
}
.findfood-searched {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60%;
}
.todayfood {
  width: 40%;
}

.all-food {
  width: 100%;
}
.content {
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
